.bg-dark-blue{
    background-color: #3f51b5;
}
.mat-accent{
    /* color: yellow; */
    font-weight: bold ;
    font-size: large;
}
.lgot{
    float: right;
}
.example-spacer {
    flex: 1 1 auto;
  }